/****** General ***********/
* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutralStar {
  color: var(--main-bg-color);
}

/**** Header ****/

header {
  position: relative;
  width: 100%;
  height: 80px;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

header img {
  position: absolute;
  padding: 30px;
  width: 120px;
  height: 80px;
  object-fit: contain;
}

header .header-content {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  gap: 70px;
  margin-right: 40px;
}

.header-content button {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.btn-hebergement button {
  color: var(--main-color);
}

.btn-bar {
  height: 2px;
  background-color: var(--main-color);
}

/****** Info group  ******/

.info-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.info-title h2 {
  font-size: 22px;
  font-weight: 700;
  margin: 0;
}

.info-subtitle p {
  margin: 0;
  margin: 5px 0px 30px 0px;
  font-size: 16px;
}

.search-bar {
  border: solid 1px var(--main-bg-color);
  width: 29%;
  display: flex;
  align-items: center;
  border-radius: 15px 15px 15px 15px;
}

.search-logo {
  display: flex;
  flex-grow: 0;
  align-items: center;
  justify-content: center;
  background-color: var(--main-bg-color);
  width: 50px;
  height: 50px;
  border-radius: 15px 0px 0px 15px;
}

.search-title {
  flex-grow: 2;
  text-align: center;
  font-size: 16px;
  font-weight: 100;
}
.search-button {
  display: flex;
  flex-grow: 0;
  align-items: center;
  background-color: var(--main-color);
  height: 50px;
  padding: 15px 17px;
  border-radius: 0px 15px 15px 0px;
}
.search-button button {
  color: var(--main-bg-color);
  font-size: 18px;
  font-weight: 700;
  background: none;
  border: none;
}

/**** Filter Bar ****/

.filter-bar {
  margin: 35px 0px;
  width: 75%;
  display: flex;
  align-items: center;
  gap: 15px;
}

.filter-title {
  font-size: 18px;
  font-weight: 700;
}

.filter {
  border-radius: 25px;
  border: 2px solid #d9d9d9;
  padding: 10px 19px;
}
.filter-content {
  font-size: 17px;
  font-weight: 700;
}
.filter-content .fa-solid {
  margin-right: 5px;
}

/**** Info Bar ****/

.info-bar {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.info-bar .fa-solid {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  font-size: 10px;
  border: solid 1px #d9d9d9;
  border-radius: 50%;
  margin-right: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.hebergements-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 30px;
}

.hebergements-cards .card img {
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  border: 1px solid #ffffff;
  height: 125px;
  width: 100%;
}

.hebergements-cards .card-content {
  width: 100%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hebergements-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
  margin: 0;
}

.hebergements-cards .card-rating {
  margin-top: 5px;
}
/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/**** Activity ****/

.activity {
  margin-top: 70px;
}
.activity-title {
  margin: 30px 0px 0px 30px;
}

.activity-cards {
  display: flex;
  gap: 30px;
  margin: 30px 30px;
}

.activity-cards .card {
  width: 300px;
  height: 440px;
  padding: 0;
}

.activity-cards .card img {
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  height: 380px;
  width: 100%;
}

.activity-cards .card-title {
  padding: 10px 20px;
}

/**** Footer ****/

footer {
  display: flex;
  background-color: var(--main-bg-color);
  margin-top: 70px;
  height: 163px;
}

.f-about {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 440px;
  margin-bottom: 15px;
}

.f-about-content {
  gap: 15px;
}
.f-hebergements {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 440px;
}
.f-assistance {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 440px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards .card {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
}
